<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8" />
    <title>Monarch Soft Tech LLP</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/vendor.css" />
    <link rel="stylesheet" href="css/index.css" />

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script defer src="js/fontawesome/all.min.js"></script>

    <!-- favicons
    ================================================== -->

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico" />
    <link rel="manifest" href="site.webmanifest" />
  </head>
</html>

<body>
  <!-- contact
    ================================================== -->
  <section id="contact" class="s-contact target-section s-dark">
    <div class="row section-head">
      <div class="column large-3 medium-12">
        <h2>Contact Us</h2>
        <p class="desc">Get in touch with us.</p>
      </div>
    </div>
    <!-- end section-head -->

    <div class="row s-contact__content">
      <div class="column large-7 medium-12">
        <!-- <h3 class="display-1">
            Welcome to Monarch's Customer Support. All your queries related to
            our product will be resolved here.
          </h3> -->

        <div class="remove-mt s-contact__email-us">
          <a class="btn btn--primary h-full-width" id="openModalBtn"
            >Let's Talk</a
          >
        </div>
        <div class="column large-12 medium-6 tab-12 media-adjust">
          <div class="display-flex">
            <div class="add-mt s-contact__info-block">
              <span class="s-contact__info-block-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M12 2L10.59 3.41 18.17 11H2v2h16.17l-7.58 7.59L12 22l10-10z"
                  />
                </svg>
              </span>

              <h5>Useful Links</h5>
              <ul>
                <li><a href="#home" class="smoothscroll"> Home</a></li>
                <li><a href="#about" class="smoothscroll"> About us</a></li>
                <li>
                  <a href="#portfolio" class="smoothscroll"> Products</a>
                </li>
                <li>
                  <a href="#services" class="smoothscroll"> Services</a>
                </li>
                <li><a href="#blog" class="smoothscroll"> Awards</a></li>
                <li><a href=""> Clients</a></li>
                <li><a href=""> E-Waste</a></li>
                <li><a href=""> Customer corner</a></li>
              </ul>
            </div>
            <div class="add-mt s-contact__info-block">
              <span class="s-contact__info-block-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                >
                  <path d="M3 7l9-4 9 4-9 4-9-4zm9 6l9-4v8l-9 4-9-4V9l9 4z" />
                </svg>
              </span>

              <h5>Products</h5>
              <ul>
                <li><a href=""> SmartCut Pro</a></li>
                <li><a href=""> Simba</a></li>
                <li><a href=""> Tornado</a></li>
                <li><a href=""> Striker</a></li>
                <li><a href=""> Virtiset WOW</a></li>
                <li><a href=""> EMEE Cast</a></li>
              </ul>
            </div>
            <div class="add-mt s-contact__info-block">
              <span class="s-contact__info-block-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M12 2L10.59 3.41 18.17 11H2v2h16.17l-7.58 7.59L12 22l10-10z"
                  />
                </svg>
              </span>

              <h5>Other Links</h5>
              <ul>
                <li><a href=""> Terms and conditions</a></li>
                <li><a href=""> Privacy policy</a></li>
                <li><a href=""> Refund</a></li>
              </ul>
            </div>
          </div>
          <!-- end s-contact__info-block -->
        </div>
        <div id="contactModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <h2 class="contact-form-margin">Contact Form</h2>
            <form action="https://api.web3forms.com/submit" method="POST">
              <input
                type="hidden"
                name="access_key"
                value="6ed549f4-a6c2-47ce-b74a-36f5a77cbf6a"
              />

              <input type="text" name="name" placeholder="Name" required />
              <input type="email" name="email" placeholder="Email" required />
              <textarea
                name="message"
                placeholder="Message"
                required
              ></textarea>
              <button type="submit">Submit Form</button>
            </form>
          </div>
        </div>
      </div>

      <div class="column large-4 medium-12 s-contact__info-blocks">
        <div class="row">
          <div class="column large-12 medium-6 tab-12">
            <div class="s-contact__info-block">
              <span class="s-contact__info-block-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <path
                    d="M12 14c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm0-6c1.103 0 2 .897 2 2s-.897 2-2 2-2-.897-2-2 .897-2 2-2z"
                  />
                  <path
                    d="M11.42 21.814a.998.998 0 001.16 0C12.884 21.599 20.029 16.44 20 10c0-4.411-3.589-8-8-8S4 5.589 4 9.995c-.029 6.445 7.116 11.604 7.42 11.819zM12 4c3.309 0 6 2.691 6 6.005.021 4.438-4.388 8.423-6 9.73-1.611-1.308-6.021-5.294-6-9.735 0-3.309 2.691-6 6-6z"
                  />
                </svg>
              </span>

              <h5>Find us here</h5>
              <p>
                Unit No. 201-204, 2nd Floor <br />
                ACME Industrial Park Building <br />
                Off IB Patel Road <br />
                Goregaon (East), Mumbai - 400063 <br />
              </p>
            </div>
            <!-- end s-contact__info-block -->
          </div>

          <div class="column large-12 medium-6 tab-12">
            <div class="s-contact__info-block">
              <span class="s-contact__info-block-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <path
                    d="M17.707 12.293a.999.999 0 00-1.414 0l-1.594 1.594c-.739-.22-2.118-.72-2.992-1.594s-1.374-2.253-1.594-2.992l1.594-1.594a.999.999 0 000-1.414l-4-4a.999.999 0 00-1.414 0L3.581 5.005c-.38.38-.594.902-.586 1.435.023 1.424.4 6.37 4.298 10.268s8.844 4.274 10.269 4.298h.028c.528 0 1.027-.208 1.405-.586l2.712-2.712a.999.999 0 000-1.414l-4-4.001zm-.127 6.712c-1.248-.021-5.518-.356-8.873-3.712-3.366-3.366-3.692-7.651-3.712-8.874L7 4.414 9.586 7 8.293 8.293a1 1 0 00-.272.912c.024.115.611 2.842 2.271 4.502s4.387 2.247 4.502 2.271a.991.991 0 00.912-.271L17 14.414 19.586 17l-2.006 2.005z"
                  />
                </svg>
              </span>

              <h5>Say hello</h5>
              <p>+ 91 022 49648872<br /></p>
            </div>
            <!-- end s-contact__info-block -->
          </div>
          <div class="column large-12 medium-6 tab-12">
            <div class="s-contact__info-block">
              <span class="s-contact__info-block-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                >
                  <path
                    d="M20 4H4a2 2 0 00-2 2v12a2 2 0 002 2h16a2 2 0 002-2V6a2 2 0 00-2-2zm0 2l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"
                  />
                </svg>
              </span>

              <h5>Mail</h5>
              <p>
                support@monarchsofttech.com<br />
                sales@monarchsofttech.com
              </p>
            </div>
            <!-- end s-contact__info-block -->
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end s-contact__info-blocks -->
    </div>
    <!-- end s-contact__content -->
  </section>
  <!-- end s-contact -->
  <footer class="s-footer">
    <div class="row">
      <div class="column large-4 medium-6 w-1000-stack s-footer__social-block">
        <ul class="s-footer__social">
          <li>
            <a href="https://www.facebook.com/monarch.grp.5?mibextid=ZbWKwL"
              ><i class="fab fa-facebook-f" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a href="https://www.youtube.com/@monarchchannelmonarchgroup/about"
              ><i class="fab fa-youtube" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/monarchsofttech/?igshid=MWI4MTIyMDE%3D"
              ><i class="fab fa-instagram" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a href="https://t.me/+gEN6c_HH4GUxODQ1"
              ><i class="fab fa-telegram" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a href="https://in.linkedin.com/company/monarch-soft-tech-llp"
              ><i class="fab fa-linkedin-in" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a href="https://wa.me/8692949131"
              ><i class="fab fa-whatsapp" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </div>

      <div class="column large-7 medium-6 w-1000-stack ss-copyright">
        <span>© Copyright Monarch Soft Tech LLP</span>
        <span>. All Rights Reserved</span>
      </div>
    </div>

    <div class="ss-go-top">
      <a class="smoothscroll" title="Back to Top" href="#top">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M6 4h12v2H6zm5 10v6h2v-6h5l-6-6-6 6z" />
        </svg>
      </a>
    </div>
    <!-- end ss-go-top -->
    <script src="js/common.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script src="js/index.js"></script>
  </footer>
</body>
