<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8" />
    <title>Monarch Soft Tech LLP</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/vendor.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/referral.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script defer src="js/fontawesome/all.min.js"></script>

    <!-- favicons
    ================================================== -->

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico" />
    <link rel="manifest" href="site.webmanifest" />
  </head>

  <body>
    <!-- header
    ================================================== -->
    <header class="s-header sticky offset scrolling">
      <div class="row">
        <div class="s-header__logo">
          <a href="index.html" class="adjust-logo-top">
            <img
              src="images/cropped-logo-removebg-preview.jpg"
              alt="Homepage"
              class="logo-adjust"
            />
            <h5 class="title-adjust">Monarch Soft Tech LLP</h5>
          </a>
        </div>

        <!-- <div class="title">
          <h3>Monarch Soft Tech LLP</h3>
        </div> -->

        <nav class="s-header__nav">
          <ul>
            <li class="#">
              <a class="smoothscroll" href="#home">Home</a>
            </li>
            <li><a class="smoothscroll" href="#about">About Us</a></li>
            <li><a class="smoothscroll" href="#portfolio">Products</a></li>
            <li><a class="smoothscroll" href="#services">Services</a></li>
            <li><a class="smoothscroll" href="#blog">Awards</a></li>

            <!-- E-Waste Dropdown -->
            <li class="has-dropdown">
              <a class="smoothscroll" href="#">E-Waste ▾</a>
              <ul class="dropdown">
                <li><a href="dodonts.html">Do's &Don'ts</a></li>
                <li><a href="collectioncenters.html">Collection Centers</a></li>
              </ul>
            </li>

            <!-- Customer Corner Dropdown -->
            <!-- Customer Corner Dropdown -->
            <li class="has-dropdown">
              <a class="smoothscroll" href="#">Customer Corner ▾</a>
              <ul class="dropdown">
                <li><a href="support.html">Support</a></li>

                <!-- Inquiry dropdown (right side) -->
                <li class="has-dropdown-right">
                  <a href="#faq">Inquiry ▸</a>
                  <ul class="dropdown-right">
                    <li><a href="customerinquiry.html">Customer Inquiry</a></li>
                    <li><a href="dealershipinquiry.html">Dealership Inquiry</a></li>
                  </ul>
                </li>

                <li><a href="referral.html">Referral</a></li>
              </ul>
            </li>

            <li><a class="smoothscroll" href="#contact">Contact</a></li>
          </ul>
        </nav>

        <a class="s-header__menu-toggle" href="#0" title="Menu">
          <span class="s-header__menu-icon"></span>
        </a>
      </div>
    </header>

    <!-- end s-header -->
    <script src="js/common.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/index.js"></script>
    <script src="js/main.js"></script>
    <script src="js/referral.js"></script>
  </body>
</html>
