<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.net>
		<mailSettings>
			<smtp from="info@monarchsofttech.in">
				<network
				  host="mail.monarchsofttech.in"
				  port="587"
				  userName="info@monarchsofttech.in"
				  password="YOUR_EMAIL_PASSWORD"
				  enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
	</system.web>
</configuration>
